services:
	- App\Router\RouterFactory::createRouter
	- App\CustomAuthenticator
	- App\Models\PostModel
	- App\Models\UserModel
	- App\Models\CommentsModel
	- App\Models\LikeModel
	- App\Models\MessagesModel

search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
