.box_links>a{
    cursor: pointer;
    font-size: 18px;
    background-color: white;
    text-decoration: none;

    padding: 5px;
    border-radius: 10px;

    font-weight: 600;
    color: #8395a7;
}

.box_links>a:hover{
    background-color: #2e86de;
    color: white;
}

.form_errors{
    width: 50%;
    background-color: #f5f6fa;
    margin: auto;

    border-radius: 5px;
    margin-top: 15px;
    padding: 5px;
}

.form_errors>span{
    color: #ee5253;
    font-weight: 600;
    font-size: 18px;
}

form {
    text-align: center;

}

input {
    width: 50%;
    height: 30px;

    border: none;
    border-radius: 5px;
    padding: 2px;

    margin: 2px;
    text-align: center;

    color: #8395a7;
    font-size: 18px;
}

input[type="submit"]{
    background-color: white;
    color: #8395a7;

    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #2e86de;
    color: white;
}