@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --textColor: #2f3640;
    --pressedButton: #0097e6;
    --blue: #00a8ff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Roboto';
    color: var(--textColor);

}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #f5f6fa;

    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;

}


.page_header{
    position: fixed;
    top: 0;

    width: 100%;
    height: 60px;
    max-height: 60px;

    background-color: #2f3640;

    display: flex;
    flex-direction: row;
    align-items: center;
}


.logo_container, .buttons_container{
    height: 100%;
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

    .header_title{
        width: 100%;
        text-align: center;
        display: inline-block;
        color: white;

        font-size: 30px;
        font-weight: 800;
    }

        .header_title>i{
            margin-right: 15px;
            display: inline-block;
            color: white;
        }

.searchbar_container{
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

    .header_search_bar{
        width: 50px;
        height: auto;

        border: none;
        border-radius: 10px;
        padding: 10px;

        font-size: 20px;
        background-color: white;
        color: white;
        cursor: pointer;
    }

        .header_search_bar:focus{
            width: 100%;
            transition: ease-in;
            transition-duration: 500ms;
            padding-left: 40px;

            outline: none;
            cursor: auto;
            color: var(--textColor);
        }


        .search_icon{
            font-size: 20px;
            position: absolute;
            margin-left: 15px;
            pointer-events: none;
        }


.buttons_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

    .header_link{
        width: auto;
        height: auto;

        background-color: white;
        border-radius: 10px;
        font-size: 25px;

        margin: 5px;
        padding: 5px;
        cursor: pointer;
        text-decoration: none;
    }

    .header_link:hover{
        background-color: #dcdde1;
        color: var(--textColor);
    }


.user_profile_sidebar{
    background-color: #2f3640;
    width: 15%;

    position: fixed;
    top: 80px;
    left: 5%;

    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}
    .user_profile_picture_container{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .user_profile_picture_container>a{
            border-radius: 10px;
            background-color: white;
        }

    .user_username_sidebar{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        text-align: center;
        margin-top: 10px;
        border-bottom: 1px solid white;

        color: white;
        font-size: 25px;
    }

    .user_details_links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 10px;
        margin-bottom: 10px;
    }

        .user_detail_link{
            width: 90%;
            padding: 5px;
            margin: 5px;

            font-size: 20px;
            text-decoration: none;
            text-align: left;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            border-radius: 10px;
            color: white;
        }

            .user_detail_link>i{
                margin-left: 10px;
                color: white;

            }

            .user_detail_link>span{
                width: 80%;
                color: white;

            }

            .user_detail_link:hover{
               background-color: #dcdde1;
            }


            .user_detail_link:hover>i,.user_detail_link:hover>span{
                color: var(--textColor);
            }


main{
    width: 50%;

    padding-top: 60px;
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}



.form_container{
    width: 100%;
    padding: 10px;
    margin-top: 20px;

    min-height: 50px;

    background-color: #2f3640;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

    .form{
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 10px;
    }

        .form>textarea{
            height: auto;
            width: 100%;

            resize: vertical;
            min-height: 50px;
            max-height: 200px;

            border: none;
            border-radius: 10px;
            padding: 10px;
            font-size: 18px;
            outline: none;
        }

        .form_buttons{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

        .form_btn{
            margin: 10px 0 10px 10px;
            padding: 10px;
            background-color: white;

            border: none;
            border-radius: 10px;

            font-size: 18px;
            text-align: center;
            cursor: pointer;
        }

        .form_btn:hover, .form_btn:hover>i{
            background-color: #2f3640;
            color: white;
        }


.posts{
    width: 100%;
    margin-top: 20px;
}

.post_detail{
    width: 100%;
    margin-top: 10px; 
}

    .post{
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;


        width: 100%;
        background-color: #2f3640;
    }

    .comment{
        margin: 10px auto;
        padding: 10px;

        width: 90%;
        background-color: #2f3640;
        border-radius: 10px;
    }

    .post_header, .comment_header{
        height: auto;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        padding-left: 10px;
        padding-right: 10px;

    }
        .post_profile_pic_container, .comment_profile_pic_container{
            width: 40px;
            height: 40px;

            background-color: white;
            border-radius: 10px;
        }

            .post_profile_picture, .comment_profile_picture{
                width: 100%;
                height: 100%;
            }


        .post_header_user_info, .comment_header_user_info{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

            .post_time_of_creation, .comment_time_of_creation{
                color: white;
                font-size: 18px;
                font-weight: 700;
            }

            .post_header_user_links, .comment_header_user_links{
                display: flex;
                flex-direction: row;
                align-items: center;
            }

                .post_header_user_links>a, .comment_header_user_links>a{
                    font-size: 25px;
                    font-weight: 700;

                    color: white;
                    text-decoration: none;
                    text-align: end;
                    vertical-align: baseline;

                    margin-left: 10px;
                }

                .post_header_user_links>a>span{
                    color: white;
                    font-size: 20px;
                    font-weight: 400;
                }
        
        .post_body, .comment_body{
            margin-top: 10px;
            padding: 10px;
            border-top: 1px solid white;

            font-size: 18px;
            color: white;
        }

            .post_detail_link{
                text-decoration: none;
                font-size: 18px;
                color: white;
            }

        .post_footer, .comment_footer{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            border-top: 1px solid white;
        }

            .post_footer_data, .comment_footer_data{
                padding-top: 5px;
                width: auto;
            }

               .post_comments_count, .likes_count{
                   color: white;
                   font-size: 20px;
                   font-weight: 700;

                   border: none;
                   text-align: center;
                   width: auto;

                   margin: 10px;
                   padding: 5px;
                   cursor: pointer;
                   border-radius: 5px;

                   background-color: var(--textColor);
               }

                .post_comments_count>i,.post_comments_count>span, .likes_count>i, .likes_count>span{
                    color: white;
                    font-size: 20px;
                    font-weight: 700;
                }

                .post_comments_count:hover, .likes_count:hover {
                    background-color: white;
                    color: var(--textColor);
                }

                .liked, .liked>i{
                    color: #ee5253;
                }

                .post_comments_count:hover>i, .post_comments_count:hover>span, .likes_count:hover>i, .likes_count:hover>span{
                    color: var(--textColor);
                }



.profile_user{
    background-color: var(--textColor);

    width: 100%;
    padding: 10px;

    margin-top: 20px;

    display: flex;
    flex-direction: row;
}

    .profile_user_picture_container{
        width: 200px;
        height: 200px;

        min-width: 200px;
        min-height: 200px;
    }

        .profile_user_picture_container>img{
            width: 100%;
            height: 100%;
        }

    .profile_user_data{
        width: 100%;
    }

    .profile_user_data_header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        .profile_user_data_username{
            color: white;
            font-size: 30px;
        }

        .profile_user_data_username:before{
            content: "@";
        }

        .profile_user_name_container{
            margin-top: 15px;
            display: flex;
            flex-direction: row;
        }

            .profile_user_name_container>p{
                font-size: 18px;
                color: white;
            }
            .profile_user_name_container>p:nth-child(2){
                margin-left: 10px;
            }

        .profile_user_data_actions{
            display: flex;
            flex-direction: column;
        }

        .profile_user_data_actions>button{
            border: none;
            background-color: white;
            text-align: left;
            
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            font-size: 15px;

            cursor: pointer;
        }

        .profile_user_data_actions>button>i{
            margin-right: 5px;
        }

    .profile_user_description{
        margin-top: 10px;
        border-top: 1px solid white;

        padding: 10px;
        color: white;
        font-size: 18px;
    }

    .profile_user_content{
        margin-top: 10px;
        width: 100%;
        background-color: var(--textColor);
    }

        .profile_content_switch{
            height: 40px;
        }

        .profile_content_switch>button{
            width: 33%;
            height: 100%;

            border: none;
            background-color: transparent;
            color: white;
            font-size: 20px;
            font-weight: 700;
        }

        .profile_content_switch>button:hover{
            background-color: white;
            color: var(--textColor);
        }


#loading{
    width: 100%;
}

    #loading>h2{
        margin: auto;
        text-align: center;
    }

.noMorePosts_text{
    text-align: center;
    font-size: 25px;
    font-weight: 700;

    margin-top: 30px;
    margin-bottom: 50px;
}



.form_background_box{
    background-image: url("../images/background_image.jpg");
    background-size: 100%;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form_box{
    height: auto;
    max-width: 40%;

    box-shadow: 0 0 10px var(--textColor);
    border-radius: 20px;

    padding: 20px 50px 50px 50px;
    margin: auto auto auto 10%;

}

.form_box>h2{
    font-size: 50px;
    border-bottom: 1px solid var(--textColor);
}

.auth_form{
    margin-top: 15px;
    margin-left: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

    .form_input_box{
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin: 5px;
    }

        .form_input_box>label{
            width: auto;
            font-size: 20px;
            text-align: left;
        }

        .form_input_box>input{
            height: 35px;
            padding: 10px;

            background-color: white;
            font-size: 20px;
            outline: none;

            border: none;
            border-radius: 10px;
            box-shadow: 0px 0px 5px var(--textColor);
        }

        .auth_form>button{
            width: 100%;
            height: 40px;
            margin-top: 15px;

            font-size: 25px;
            border: none;
            border-radius: 15px;

            cursor: pointer;
            background-color: var(--textColor);
            color: white;
        }

        .auth_form>button:hover{
            background-color: #dcdde1;
            color: var(--textColor);
        }

.form_box_links{
    margin-top: 10px;
    margin-bottom: 10px;

    border-top: 1px solid var(--textColor);
    padding-top: 20px;

    width: 100%;
    height: auto;
}

    .form_box_link{
        padding: 10px;
        border-radius: 10px;

        text-decoration: none;
        font-size: 20px;
    }

    .form_box_link:hover{
        background-color: var(--textColor);
        color: white;
    }

        .form_box_link:hover i{
            color: white;
        }

.form_errors_container{
    width: 100%;
    border-top: 1px solid var(--textColor);
}

    .form_errors_list{
        margin-top: 10px;

        width: 100%;
        border: none;
        border-radius: 15px;

        background-color: #ee5253;
    }

        .form_errors_list>li{
            padding: 5px;
            margin-left: auto;
            margin-right: auto;

            color: white;
            width: 90%;
            font-weight: 700;
        }
        
            .form_error{
                width: 100%;
                color: white;
                font-size: 20px;
            }
