@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --textColor: #2f3640;
    --pressedButton: #0097e6;
    --blue: #00a8ff;
    --red: #ee5253;
    --backgroundColor: #2f3640;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    color: var(--textColor);

}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #f5f6fa;

    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row;
    align-items: center;
}

main{
    margin: auto;
    width: 800px;
    height: 100%;

    border-right: 1px solid var(--textColor);
    border-left: 1px solid var(--textColor);
}

.width_70{
    margin: auto;
    width: 30%;
    border: none;
    height: auto;
}

.noBorders{
    border: 0;
}

a{
    text-decoration: none;
}

.side_bar{
    position: fixed;
    left: 0;
    top: 0;

    height: 100%;
    width: 250px;

    background-color: var(--backgroundColor);

    display: flex;
    flex-direction: column;
    align-items: center;
}

    .page_title{
        font-size: 30px;
        font-weight: 700;
        color: white;

        border-bottom: 1px solid white;
        width: 100%;

        text-align: center;
        padding: 10px;
    }

        .page_title>i{
            font-size: inherit;
            font-weight: inherit;
            color: inherit;

            margin-right: 20px;
        }

    .profile_picture_container{
        margin-top: 20px;
        width: 100px;
        height: 100px;

        border-radius: 20px;
    }

        .profile_picture_container>img{
            width: 100%;
            height: 100%;

            border-radius: inherit;
        }

    .side_bar_username{
        margin: 10px;
        font-size: 20px;
        font-weight: 700;
        color: white;
    }

    .side_bar_nav_menu{
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 20px;
        padding-bottom: 20px;

        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

        .menu_link{
            color: white;
            font-size: 18px;
            font-weight: 500;

            margin: 5px;
            padding: 10px;
            border-radius: 10px;

            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        .menu_link>i{
            margin-right: 10px;
            text-align: center;
        }
        .menu_link>i, .menu_link>span{
            color: inherit;
        }

        .menu_link:hover{
            background-color: white;
            color: var(--textColor);
        }


.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_margin{
    margin-top: 20px;
    margin-bottom: 20px;
}

.no_padding{
    padding: 0;
}

    .section>.form_container{
        width: 100%;
        background-color: var(--backgroundColor);

        border-radius: 10px;
    }
    .section>.form_container>h2{
        padding: 10px;
        text-align: center;
        color: white;

        font-size: 30px;
        font-weight: 700;

        border-bottom: 1px solid white;
    }
    .form, .form_container>.form{
        width: 100%;
        height: 100%;

        padding: 20px;
        background-color: var(--backgroundColor);
    }

    .form>textarea, .form_container>form>textarea{
        width: 100%;
        resize: none;

        border: none;
        border-radius: 10px;
        padding: 10px;

        font-size: 18px;
        color: var(--textColor);
    }
    .form>.form_input_box, .form_container>form>.form_input_box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin: 10px;
    }
        .form_input_box>label{
            color: white;
            font-size: 18px;
            font-weight: 500;

            flex: 1;
        }

        .form_input_box>input{
            flex: 3;

            border: none;
            background-color: white;
            font-size: 18px;
            color: var(--textColor);
            padding: 5px;
        }

    .form_submit{
        float: right;

        margin: 10px;
        padding: 10px;

        background-color: var(--blue);
        border: none;
        border-radius: 10px;

        color: white;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
    }
    .form_submit:hover{
        background-color: white;
        color: var(--textColor);
    }
    .form_btn{
        padding: 5px;
        margin: 20px 5px 5px;

        background-color: var(--backgroundColor);
        border: none;
        border-radius: 10px;

        font-size: 18px;
        color: white;

        float: right;
        cursor: pointer;

    }
    .form_btn>i{
        font-size: inherit;
        color: inherit;
    }
    .form_btn:hover{
        color: var(--textColor);
        background-color: white;
    }
    .form_box_links{
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .form_box_link{
        padding: 10px;
        border-radius: 10px;
        margin: 10px;

        font-size: 20px;
        font-weight: 500;
        color: white;
    }
        .form_box_link>i{
            color: inherit;
            font-size: inherit;
        }
        .form_box_link:hover{
            background-color: white;
            color: var(--textColor);
        }
    .form_errors_container{
        width: 100%;
        border-radius: 10px;
        background-color: var(--red);

        padding: 10px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .form_errors_list>li, .form_errors_list>li>span{
            color: white;
            font-size: 18px;
            font-weight: 700;
        }

.post, .comment{
    margin: 10px;
    padding: 10px;

    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .post_header, .comment_header{
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
        .post_profile_link, .comment_user_link{
            padding: 5px;

            border-radius: 10px;

            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .post_profile_link:hover, .comment_user_link:hover{
            background-color: white;
        }
        .post_profile_link:hover>.post_header_user_info>p, .comment_user_link:hover>.comment_header_info>h2, .comment_user_link:hover>.comment_header_info>h3{
            color: var(--textColor);
        }
            .post_header_profile_picture, .comment_profile_picture{
                width: 50px;
                height: 50px;

                border-radius: 10px;
            }
            .post_header_profile_picture>img{
                width: 100%;
                height: 100%;
                border-radius: inherit;
            }
        .post_header_user_info, .comment_header_info{
            margin-left: 10px;
        }
        .post_header_user_info>p, .comment_header_info>h2, .comment_header_info>h3{
            color: white;
            font-size: 20px;
        }
        .post_header_user_info>p:nth-child(2){
            color: white;
            font-size: 15px;
        }
        .delete_button{
            background-color: var(--red);
            border: none;
            border-radius: 10px;

            font-size: 18px;
            font-weight: 700;

            color: white;
            padding: 10px;
            cursor: pointer;
        }
            .delete_button:hover{
                background-color: white;
                color: var(--textColor);
            }
            .delete_button>i{
                color: inherit;
                font-size: inherit;
            }
    .post_body, .comment_body{
        margin: 10px;
        width: 100%;
        display: flex;

    }
        .post_detail, .post_detail_link, .comment_body{
            flex: 1;
            color: white;
            font-size: 18px;

            padding: 10px;
            margin-bottom: 10px;
        }
        .post_detail_link:hover{
            background-color: white;
            color: var(--textColor);
        }
    .post_footer{
        width: 100%;
    }
    .post_footer_buttons{
        float: right;
    }
        .comments_button, .like_button{

            padding: 5px;
            margin: 5px;

            background-color: var(--backgroundColor);
            border: none;
            border-radius: 10px;

            font-size: 18px;
            font-weight: 700;

            color: white;
            cursor: pointer;
        }
        .comments_button>i, .like_button>i, .comments_button>span, .like_button>span{
            color: inherit;
            font-size: inherit;
        }
        .comments_button:hover, .like_button:hover{
            color: var(--textColor);
            background-color: white;

        }
        .liked{
            color: var(--red);
        }

    .noMorePosts_text{
        margin: 20px;
        font-size: 25px;
        font-weight: 700;
        color: var(--textColor);
    }
    .background{
        background-color: var(--backgroundColor);
    }


.section_profile{

    background-color: var(--backgroundColor);
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
    .section_profile>.profile_picture_container{
        margin-top: auto;
        margin-bottom: auto;
        width: 200px;
        height: 200px;
        border-radius: 20px;
        background-color: white;
    }
        .section_profile>.profile_picture_container>img{
            width: 100%;
            height: 100%;
            border-radius: inherit;
        }

    .profile_user_data{
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

        .profile_username, .profile_name{
            color: white;
            font-size: 18px;
        }

    .profile_user_buttons{
        display: flex;
        flex-direction: column;

    }

    .addFriendButton, .removeFriendButton, .sendMessageButton{
        padding: 10px;
        margin: 10px;
        color: white;

        background-color: var(--backgroundColor);
        border: none;
        border-radius: 10px;

        font-size: 18px;
        cursor: pointer;
    }

    .removeFriendButton{
        background-color: var(--red);
        color: white;
    }

    .addFriendButton>i, .removeFriendButton>i, .sendMessageButton>i{
        color: inherit;
        font-size: inherit;
        margin-right: 10px;
    }

    .addFriendButton:hover, .removeFriendButton:hover, .sendMessageButton:hover{
        color: var(--textColor);
        background-color: white;
    }

    .profile_content_switch{
        width: 100%;
        background-color: var(--backgroundColor);
        margin-top: 10px;
        margin-bottom: 10px;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .profile_content_button{
        padding: 10px;
        border: none;
        background-color: var(--backgroundColor);

        flex: 1;
        font-size: 20px;
        color: white;
        cursor: pointer;
    }

        .profile_content_button:hover{
            background-color: white;
            color: var(--textColor);
        }

        .selected{
            background-color: white;
            color: var(--textColor);
        }


    .profile_content{
            width: 100%;
        }




.user_card{
    background-color: var(--backgroundColor);
    margin: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    .user_card_profile_picture_container{
        margin: 10px;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        background-color: white;
    }

        .user_card_profile_picture_container>img{
            width: 100%;
            height: 100%;
            border-radius: inherit;
        }


    .user_card_link{
        border-radius: 10px;
        padding: 10px;

        color: white;
        flex: 1;
    }

    .user_card_link>span{
        color: inherit;
        font-size: 20px;
    }

    .user_card_link:hover{
        background-color: white;
        color: var(--textColor);
    }


.modal_background{
    position: fixed;
    display: none;
    background-color: rgba(255, 255, 255, 0.55);
    width: 100%;
    height: 100%;

    z-index: 9998; /* Set a lower z-index to make the background appear below the modal */
    top: 0; /* Adjust the top position to cover the entire page */
    left: 0;

    cursor: pointer;
}

    .modal_background:hover>.modal{
        cursor: default;
    }

    .modal{
        position: fixed;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--textColor);
        border-radius: 10px;

        padding: 10px;
        z-index: 9999;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .modal_open {
        overflow: hidden;
    }

        .modal>h2{
            margin-top: 5px;
            margin-bottom: 5px;

            font-size: 25px;
            color: white;
            font-weight: 700;
        }

    #imageInput{
        display: none;
    }

    .upload_image_icon{
        width: 50px;
        height: 50px;
        margin: 20px auto auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: whitesmoke;
        border-radius: 15px;

        cursor: pointer;
    }

        .upload_image_icon>i{
            font-size: 35px;
            color: var(--textColor);
        }



    #cropContainer {
        max-width: 100%;
        max-height: 70vh;
        overflow: auto;
    }

    #cropContainer img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: 0 auto;
    }

    #cropButton{
        margin: 10px;
        border: none;
        font-size: 20px;
        font-weight: 700;

        color: var(--textColor);
        background-color: white;
        border-radius: 10px;

        padding: 10px;
    }

    .change_profile_picture_button{
        width: 200px;
        height: 200px;

        background-color: white;
        border-radius: 50%;
        margin: 10px;
        padding: 5px;

        border: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        cursor: pointer;
    }

    .change_profile_picture_button>img{
        width: 100%;
        height: 100%;
        border-radius: inherit;
        padding: 0;
    }

    .change_profile_picture_button>i{
        display: none;
        font-size: 100px;
        position: absolute;
        z-index: 500;
    }

    .change_profile_picture_button_icon_background{
        display: none;
        position: absolute;
        width: 200px;
        height: 200px;

        background-color: rgba(220, 221, 225, 0.53);
        border-radius: 50%;
    }
    .change_profile_picture_button:hover{
        background-color: rgba(245, 245, 245, 0.8);
    }
    .change_profile_picture_button:hover>i{
        display: block;
    }

    .change_profile_picture_button:hover>.change_profile_picture_button_icon_background{
        display: block;
    }


.setting_options_container{
    width: 80%;
    margin: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    .setting_options_container>h2{
        color: white;
        font-size: 20px;
        font-weight: 700;
    }

    .setting_options_container>button{
        border: none;
        padding: 10px;

        background-color: #ee5253;
        color: white;
        border-radius: 10px;

        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
    }

        .setting_options_container>button>i{
            margin-right: 10px;
            font-size: inherit;
            color: inherit;
        }

        .setting_options_container>button:hover{
            background-color: white;
            color: var(--textColor);
        }


.chat_section{
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColor);
}

    .chat_title{
        width: 100%;
        padding: 10px 10px 10px 20px;

        color: white;
        font-size: 20px;
        font-weight: 700;

        border-bottom: 1px solid white;
    }

    .chat_messages{

        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
    }

    .message{
        margin: 10px;
        padding: 5px;

        width: fit-content;
        border-radius: 10px;

        display: flex;
        flex-direction: row;
        align-items: center;

        background-color: #f5f6fa;
        color: var(--textColor);
        font-size: 18px;
        font-weight: 500;
    }

    .message_container{
        width: 100%;
    }

    .my_message{
        background-color: #40bdff;
        flex-direction: row-reverse;
        float: right;
        color: white;
    }

    .message_profile_picture{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

        .message_profile_picture>img{
            width: 100%;
            height: 100%;
            border-radius: inherit;
        }

    .message_text{
        margin-left: 10px;
        margin-right: 10px;

        color: inherit;
        font-size: inherit;
    }

    .chat_form{
        position: sticky;
        bottom: 0;
        background-color: var(--backgroundColor);

        padding: 10px;
        border-top: 1px solid white;

        display: flex;
        flex-direction: row;
        align-items: center;
    }


    .chat_form>.form_input_box{
        flex: 1;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin: 10px;
    }

    .chat_form>.form_input_box>input{
        flex: 3;
        height: 100%;

        border: none;
        background-color: white;
        font-size: 18px;

        color: var(--textColor);
        padding: 10px;
    }